li{
  line-height: 30px;
  font-size: 12px;
}

#box{
  width: 200px;
  height: 150px;
  // background-color: red;
  background: url('../images/生小孩.jpg');
  background-size: cover;
}

#box2{
  width: 200px;
  height: 150px;
  background: url('../images2/生小孩.jpg');
  background-size: cover;
}