<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.5.9.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="n1">
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="n2">
        <button @click="aa">=</button>
        <input type="text" v-model="n3">
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                opt: '+',
                n1: 0,
                n2: 0,
                n3: 0
            },
            methods: {
                aa() {
                    switch (this.opt) {
                        case '+':
                            this.n3 = parseInt(this.n2) + parseInt(this.n1);
                            break;
                        case '-':
                            this.n3 = parseInt(this.n2) - parseInt(this.n1);
                            break
                        case '*':
                            this.n3 = parseInt(this.n2) * parseInt(this.n1);
                            break
                        case '/':
                            this.n3 = parseInt(this.n2) / parseInt(this.n1);
                            break
                    }
                    // eval(`this.n3 = parseFloat(this.n1) ${this.opt} parseFloat(this.n2)`)

                }

            }
        })
    </script>
</body>

</html>